<%= link_to gravatar_for(current_user, size: 100), current_user, class: "d-flex justify-content-center rounded-circle" %>
<h3 class="text-center p-3"><%= current_user.name %></h3>
<!-- <span><%= link_to "プロフィールへ", current_user %></span>
<span><%= current_user.tweets.count %>ツイート</span> -->